name: Build and deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs: 
      logLevel:
      description: 'Log level'
      required: true
      default: 'debug'
      type: choice
      options:
        - info
        - warning
        - debug
    

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: microsoft
        
    - uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      with:
        platforms: 'arm64,arm'
    - name: Setup Buildx
      uses: docker/setup-buildx-action@v2
    
    - name: Login to DockerRegistry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      run: |
        mvn -B package --no-transfer-progress -Pproduction
        docker buildx build --platform linux/amd64,linux/arm64 -t ghcr.io/bbzblit/m450-lb1/app:latest --push .

    - name: Check if tests passed
      run: mvn -B test --no-transfer-progress
      continue-on-error: true

    - name: Publish test results
      uses: EnricoMi/publish-unit-test-result-action@v1
      if: always()
      with:
        files: '**/surefire-reports/TEST-*.xml'
        check_name: Unit Tests
